a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  width: 15.6vw;
  height: 42.8vh;
}

.header-info {
  display: flex;
}

.info-main {
  background-color: #adbbc6;

  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}


.img-text-info {
  display: flex;
  align-items: start;
  min-width: 2px;
  max-width: 2px;

}

.p-info {
  writing-mode: vertical-rl;
}

.footer-credits {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  *{
    background-color: #213547;
  }
  .info-main {
    background-color: #adbbc6;
  
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Inicialmente, 3 columnas */
  }
}
